@model BusDisplayViewModel

@section ShowBody{
    <script>
        $(document).ready(function () {
            if ($("#main-content").hasClass("d-none")) {
                $("#main-content").removeClass("d-none");
            }
        });
    </script>
}

<br />



<div class="pad">
    <div class="row">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Your Location</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 modal_body_map">
                                <div style="height: 300px;" id="map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="offset-1 col-10">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action list-group-item-info">
                                    <i class="fas fa-map-pin"></i> Closest Bus Stop: @Model.ClosestBusStop
                                </a>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="row">

        <div class="offset-sm-2 col-sm-8 offset-md-4 offset-lg-4 col-md-4 col-lg-4">
            <br />

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#exampleModalCenter">
                <i class="fas fa-map-marker-alt"></i> View Bus Stop Location
            </button>
        </div>

    </div>

    <br />
    <hr />
    <br />

    <div class="row">
        @foreach (var bus in Model.BusData) 
        {
            <div class="offset-sm-2 offset-md-0 offset-lg-0 col-sm-8 col-md-4 col-lg-4">
                <div class="card-container">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="~/lib/images/dewang-gupta-ESEnXckWlLY-unsplash.jpg" />
                            </div>
                            <div class="user">
                                @if (bus.BusNumber == "10")
                                {
                                    <img class="img-circle bg-info" style="border: none !important" src="~/lib/images/10-icon.png" />
                                }
                                else if (bus.BusNumber == "15")
                                {
                                    <img class="img-circle bg-info" style="border: none !important" src="~/lib/images/15-icon.png" />
                                }
                                else if (bus.BusNumber == "16")
                                {
                                    <img class="img-circle bg-info" style="border: none !important" src="~/lib/images/16-icon.png" />
                                }
                                else if (bus.BusNumber == "19")
                                {
                                    <img class="img-circle bg-info" style="border: none !important" src="~/lib/images/19-icon.png" />
                                }
                                else
                                {
                                    <img class="img-circle bg-info" style="border: none !important" src="~/lib/images/20-icon.png" />
                                }
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="profession">Arrival @bus.Street</h3>
                                    <h3 class="text-center text-info">
                                        <i class="fas fa-clock"></i>
                                        @bus.ArrivalTime
                                    </h3>
                                    <h3 class="text-center text-warning">
                                        <i class="fas fa-stopwatch"></i>
                                        <span class="@bus.BusNumber"></span>
                                    </h3>
                                    
                                </div>
                                <div class="footer">
                                    <div class="rating text-center">
                                        <i class="fas fa-map-marked-alt"></i> @Model.ClosestBusStop
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="back">
                            <div class="header">
                                <h5 class="motto">
                                    <i class="fas fa-map-marked-alt"></i> @Model.ClosestBusStop
                                </h5>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <div class="text-center">
                                        <button class="btn btn-info text-center" type="button" disabled>
                                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                            Current Bus Crowd Status
                                        </button>
                                    </div>
                                    <div class="stats-container">
                                        <div class="stats">
                                            <h5 class="text-danger">High</h5>
                                            <br />
                                            <button type="button" class="btn btn-danger capacity-btn text-white" value="low">
                                                <h2>
                                                    <i class="fas fa-users"></i>
                                                </h2>
                                            </button>
                                        </div>
                                        <div class="stats">
                                            <h5 class="text-warning">Medium</h5>
                                            <br />
                                            <button type="button" class="btn btn-warning capacity-btn text-white" value="medium">
                                                <h2>
                                                    <i class="fas fa-user-friends"></i>
                                                </h2>
                                            </button>
                                        </div>
                                        <div class="stats">
                                            <h5 class="text-success">Low</h5>
                                            <br />
                                            <button type="button" class="btn btn-success capacity-btn text-white" value="high">
                                                <h2>
                                                    <i class="fas fa-user"></i>
                                                </h2>
                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {

        var data = @Html.Raw(Json.Serialize(@Model.BusData));

        $.each(data, function (index, item) {

            var time = item.arrivalTime1;
            var busNumber = item.busNumber;
            console.log(busNumber);

            // Set the date we're counting down to
		    var now = new Date("January 1, 1970 " + time);
		    var goal = now.getHours()*3600 + now.getMinutes()*60 + now.getSeconds();

		    // Update the count down every 1 second
		    var x = setInterval(function() {

  		        // Get today's date and time
  		        var now = new Date();
  		        var seconds = now.getHours()*3600 + now.getMinutes()*60 + now.getSeconds();

 		        // Find the distance between now and the count down date
 		        var distance = goal - seconds;
  		        var minutes = Math.floor(distance/60);
		        var seconds = distance %60;

                // Display the result in the element with id="demo"
                $("." + busNumber).text(minutes + "m " + seconds + "s ");

  		        // If the count down is finished, write some text 
  		        if (distance < 0) {
                        clearInterval(x);
                        $("." + busNumber).text("Bus is departing");
                        $("." + busNumber).parent().removeClass("text-warning").addClass("text-danger");
                }

		    }, 1000);


        });
    });
</script>

<script>

        var busStop = "@Model.ClosestBusStop";

        var map, infoWindow;
        function initMap() {
            var Base = {lat: 36.977651, lng: -122.053684}
            var Village = {lat: 36.985924, lng: -122.053546}
            var eastRemote = { lat: 36.991491, lng: -122.054689 };
            var BookStore = { lat: 36.997544, lng: -122.055055 };
            var CrownMerrill = { lat: 36.999132, lng: -122.055211 };
            var NineTen = { lat: 37.000075, lng: -122.058333 };
            var ScienceHill = { lat: 37.000003, lng: -122.062324 };
            var Kresge = { lat: 36.999364, lng: -122.064569 };
            var PorterRachelCarson = { lat: 36.993042, lng: -122.065233 };
            var Oakes = { lat: 36.989944, lng: -122.067203 };
            var WesternDr = { lat: 36.978819, lng: -122.057740 };


        map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: -35.397, lng: 150.644 },
                zoom: 15
        });
            infoWindow = new google.maps.InfoWindow;





        if(busStop == "Base"){
            var marker = new google.maps.Marker({
                position: Base,
                map: map,
                title: 'Base'
            });
        }

            if(busStop == "EastRemote"){
            var marker = new google.maps.Marker({
                position: eastRemote,
                map: map,
                title: 'Base'
            });
        }

        if(busStop == "Oakes"){
            var marker = new google.maps.Marker({
                position: Oakes,
                map: map,
                title: 'Oakes'
            });
        }

        if(busStop == "Village"){
            var marker = new google.maps.Marker({
                position: Village,
                map: map,
                title: 'Village'
            });
        }

        if(busStop == "BookStore"){
            var marker = new google.maps.Marker({
                position: BookStore,
                map: map,
                title: 'BookStore'
            });
        }

        if(busStop == "CrownMerrill"){
            var marker = new google.maps.Marker({
                position: CrownMerrill,
                map: map,
                title: 'CrownMerrill'
            });
        }

        if(busStop == "NineTen"){
            var marker = new google.maps.Marker({
                position: NineTen,
                map: map,
                title: 'NineTen'
            });
        }

        if(busStop == "ScienceHill"){
            var marker = new google.maps.Marker({
                position: ScienceHill,
                map: map,
                title: 'ScienceHill'
            });
        }

        if(busStop == "Kresge"){
            var marker = new google.maps.Marker({
                position: Kresge,
                map: map,
                title: 'Kresge'
            });
        }

        if(busStop == "PorterRachelCarson"){
            var marker = new google.maps.Marker({
                position: PorterRachelCarson,
                map: map,
                title: 'PorterRachelCarson'
            });
        }

        if(busStop == "WesternDr"){
            var marker = new google.maps.Marker({
                position: WesternDr,
                map: map,
                title: 'WesternDr'
            });
        }

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {

                        lat: 36.978161,
                        lng: -122.034398
                    };
                    //alert(position.coords.latitude);

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('YOU ARE HERE');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'No Geolocation' :
                'No Support.');
            infoWindow.open(map);
        }


    </script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6FA57jSlzWR_rCcToLFZaQf4uqNTpIaQ&callback=initMap"></script>

