@model BusDisplayViewModel

@section ShowBody{
    <script>
        $(document).ready(function () {
            if ($("#main-content").hasClass("d-none")) {
                $("#main-content").removeClass("d-none");
            }
        });
    </script>
}

<div id="map" style="overflow: visible; position: absolute;">

</div>

<br />
<div class="row">
    <div class="offset-lg-2 offset-md-2 col-lg-8 col-md-8 col-sm-12">
        <div class="alert alert-info" role="alert">
            Closest Bus Stop: @Model.ClosestBusStop
        </div>
        <div class="alert alert-info" role="alert">
            User Latitude: @Model.UserLatitude
        </div>
        <div class="alert alert-info" role="alert">
            User Longitude: @Model.UserLongitude
        </div>
    </div>
</div>



@foreach (var bus in Model.BusData)
{
    <div class="row align-items-center">
        <div class="offset-md-4 offset-lg-4 col-md-4 col-lg-4">
            <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="~/lib/images/ev-U-8pVp66LOQ-unsplash.jpg" />
                        </div>
                        <div class="user">
                            <img class="img-circle bg-info" style="border: none !important" src="~/lib/images/fontelico_2013-08-07_crown_356_256_ffffff_none.png" />
                        </div>
                        <div class="content">
                            <div class="main">
                                <h2 class="text-center text-primary">
                                    <i class="fas fa-bus"></i>
                                    @bus.BusNumber
                                </h2>
                                <h3 class="profession">@bus.Street</h3>

                                <h2 class="text-center text-info">
                                    <i class="fas fa-clock"></i>
                                    @bus.ArrivalTime
                                </h2>
                            </div>
                            <div class="footer">
                                <div class="rating">
                                    <i class="fas fa-map-marked-alt"></i> Closest Bus Stop: @Model.ClosestBusStop
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">
                                <i class="fas fa-map-marked-alt"></i> Closest Bus Stop: @Model.ClosestBusStop
                            </h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <div class="text-center">
                                    <button class="btn btn-info text-center" type="button" disabled>
                                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                        Live Bus Capacity Status
                                    </button>
                                </div>
                                <div class="stats-container">
                                    <div class="stats text-danger">
                                        <h3>235</h3>
                                        <h2>
                                            <i class="fas fa-users"></i>
                                        </h2>
                                    </div>
                                    <div class="stats text-warning">
                                        <h3>114</h3>
                                        <h2>
                                            <i class="fas fa-user-friends"></i>
                                        </h2>
                                    </div>
                                    <div class="stats text-success">
                                        <h3>35</h3>
                                        <h2>
                                            <i class="fas fa-user"></i>
                                        </h2>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
}



<script>
    $(document).ready(function () {
        var busStop = "@Model.ClosestBusStop";

        var map, infoWindow;
        function initMap() {
            var Base = {lat: 36.977651, lng: -122.053684}
            var Village = {lat: 36.985924, lng: -122.053546}
            var eastRemote = { lat: 36.991491, lng: -122.054689 };
            var BookStore = { lat: 36.997544, lng: -122.055055 };
            var CrownMerrill = { lat: 36.999132, lng: -122.055211 };
            var NineTen = { lat: 37.000075, lng: -122.058333 };
            var ScienceHill = { lat: 37.000003, lng: -122.062324 };
            var Kresge = { lat: 36.999364, lng: -122.064569 };
            var PorterRachelCarson = { lat: 36.993042, lng: -122.065233 };
            var Oakes = { lat: 36.989944, lng: -122.067203 };
            var WesternDr = { lat: 36.978819, lng: -122.057740 };


        map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -35.397, lng: 150.644 },
                zoom: 15
        });
            infoWindow = new google.maps.InfoWindow;


        if(busStop == "Base"){
            var marker = new google.maps.Marker({
                position: Base,
                map: map,
                title: 'Base'
            });
        }

        if(busStop == "Village"){
            var marker = new google.maps.Marker({
                position: Village,
                map: map,
                title: 'Village'
            });
        }

        if(busStop == "BookStore"){
            var marker = new google.maps.Marker({
                position: BookStore,
                map: map,
                title: 'BookStore'
            });
        }

        if(busStop == "CrownMerrill"){
            var marker = new google.maps.Marker({
                position: CrownMerrill,
                map: map,
                title: 'CrownMerrill'
            });
        }

        if(busStop == "NineTen"){
            var marker = new google.maps.Marker({
                position: NineTen,
                map: map,
                title: 'NineTen'
            });
        }

        if(busStop == "ScienceHill"){
            var marker = new google.maps.Marker({
                position: ScienceHill,
                map: map,
                title: 'ScienceHill'
            });
        }

        if(busStop == "Kresge"){
            var marker = new google.maps.Marker({
                position: Kresge,
                map: map,
                title: 'Kresge'
            });
        }

        if(busStop == "PorterRachelCarson"){
            var marker = new google.maps.Marker({
                position: PorterRachelCarson,
                map: map,
                title: 'PorterRachelCarson'
            });
        }

        if(busStop == "WesternDr"){
            var marker = new google.maps.Marker({
                position: WesternDr,
                map: map,
                title: 'WesternDr'
            });
        }

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {

                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    //alert(position.coords.latitude);

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('YOU ARE HERE');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'No Geolocation' :
                'No Support.');
            infoWindow.open(map);
        }
    });

</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6FA57jSlzWR_rCcToLFZaQf4uqNTpIaQ&callback=initMap"></script>

