@model BusDisplayViewModel

    <div class="container">
        <br />
        <div class="row">
            <div class="offset-lg-2 offset-md-2 col-lg-8 col-md-8 col-sm-12">
                <div class="alert alert-info" role="alert">
                    Closest Bus Stop: @Model.ClosestBusStop
                </div>
                <div class="alert alert-info" role="alert">
                    User Latitude: @Model.UserLatitude
                </div>
                <div class="alert alert-info" role="alert">
                    User Longitude: @Model.UserLongitude
                </div>
            </div>
        </div>
        @foreach (var bus in Model.BusData)
        {
            <div class="row align-items-center">
                <div class="card offset-3 col-md-6" style="max-width: 700px; padding-left: 0px !important;">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <svg class="bd-placeholder-img" width="100%" height="300px" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#868e96"></rect>
                                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Map Holder</text>
                            </svg>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h5 class="card-title">Bus Line: @bus.BusNumber</h5>
                                <p class="card-text">Arrival Time: @bus.ArrivalTime</p>
                                <p class="card-text"><small class="text-muted">@bus.Street</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />
            <br />
        }
    </div>